
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: $white;
}
 
 .header__image {
     width:40px ;
     height:40px;
 }


.header__nav {
    flex-grow: 1;
    margin-left: 20px;
}

.header__auth {
    display: flex;
    gap: 10px;
}



