
.hero {
    position: relative;
    text-align: left;
    
}

.hero__image {
    width: 50%;
    height: auto;
    z-index: 1;
}

.hero__content {
    position: absolute;
    top: 20%;
    left: 60%;
}

.hero__title {
    font-size: $text-size-xx-large;
    margin: 0;
    display: flex;
    width: 10%;
}

.hero__subtitle {
    font-size: $text-size-large;
    margin: 5px 0 20px;
}

.hero__stats {
    display: flex;
    position: absolute;
    top: 68%;
    left: 24%;
    width: 27%;

}

.stat {
    background-color: $white;
    padding: 0px;
    z-index: 2;
}

.stat__number {
    font-size: $text-size-x-large;
    font-weight: bold;
}
.stat__text {
font-size: $text-size-medium;
padding-right: 2px;
}



.hero__overlay {
    position: absolute;
    top: 20%;
    right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero__box--blue {
    background-color: $blue-de-france;  
    padding: 110px 170px;
    position: absolute;   
    top: 60%;
    left: 24%;
    z-index: 1;
    }

.hero__box--yellow {
    background-color: $Buff;
    position: absolute;
    padding: 40px 40px;
    width: 30px;
    height: 20px;
    top: 69%;
    left: 50%;
}