//color
$white:  #ffffff;
$shiny-shamrock: #4CA866;
$turquise-green: #9DCFAB;
$flame: #E4572E;
$coral: #FA824C;
$blue-de-france: #3C91E6;

//Size-Font

$text-size-xxx-large: 70px;
$text-size-xx-large: 40px;
$text-size-x-large: 30px;
$text-size-large: 18px;
$text-size-medium: 16px;


